* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
}


.menu {
    position: absolute;
    /* height: 10rem; */
    width: 60%;
    left: 50%;
    top: 10rem;

    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255);
    font-size: 35px;
    padding: 2rem;
}

.menu button {
    margin-top: 1rem;
    width: 20rem;
    height: 4rem;
    cursor: pointer;
    background: #fafafa;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    font-size: 30px;
    margin-bottom: 3rem;
}

.menu button:last-child {
    margin-bottom: 1rem;
}

.menu span {
    margin-bottom: 3rem;
    font-weight: bold;
}

